{% assign category_slug = category.name | slugify %}
{% if is_collection %}
  {% assign parent_category = 'collections' %}
{% else %}
  {% assign parent_category = 'categories' %}
{% endif %}
{% assign url_str = 'collections' | append: '/' | append: category.name %}
<header>
    <a href="{{ parent_category }}/{{category_slug}}"><h4>{{ category.name }}</h4></a>
    {% if item_count > 0 and include.disableItemCount == nil %}
      <small>
          ({{ item_count }}&nbsp;
          {%- if item_count == 1 -%}
            item
          {%- elsif item_count > 1 -%}
            items
          {%- endif -%})
      </small>
    {% endif %}
</header>