{%- assign collectionName = page.collection -%}
{%- assign filteredCollections = site.collections | where: "label", collectionName -%}
{%- assign currentCollection = filteredCollections[0] -%}
{%- assign categories = site.data[currentCollection.label] -%}
{%- assign page_id_terms = page.id | split: "/" -%}
{% assign page_id_last = page_id_terms | last %}
{% if page_id_last == "index" %}
  {%- assign page_id_terms = page_id_terms | pop -%}
  {% assign page_id_last = page_id_terms | last %}
{% endif %}

{%- for category in categories -%}
  {%- assign category_items = category.items -%}

  {%- assign class = nil -%}
  {%- assign category_slug = category.name | slugify -%}
  {%- if page.url contains category_slug -%}
    {%- assign class='is-active' -%}
  {%- endif -%}

  {%- if category_items -%}
    {% assign href = "#!" %}
    {% assign icon_class = "sgds-icon-chevron-down" %}
    {% assign label= category.name %}
    {% include sidenav-second-lvl-nav.html label=label href=href icon_class=icon_class %}
    {% assign hide_nav_section = 'is-hidden' %}
    {% if page.url contains category_slug %}
      {% assign hide_nav_section = nil %}
    {% endif %}
    <ul class="second-level-nav-div {{ hide_nav_section }}">
      {%- for item in category_items -%}
        {% comment %}
        Compare page's id (file path without .html extension) to each link to see if page is active.
        {% endcomment %}
        {%- assign item_slug = item | slugify -%}

        {%- assign class = nil -%}
        {%- if (page_id_last == item_slug and page.url contains category_slug) -%}
          {%- assign class = 'is-active' -%}
        {%- endif -%}
        {%- assign sidenav_item_url = '/' | append: currentCollection.label | append: '/' | append: category_slug | append: '/' | append: item_slug -%}
        {% include sidenav-second-lvl-nav-item.html %}
      {%- endfor -%}
    </ul>
  {%- else -%}
    {% assign link_slug = category.name | slugify %}
    {% assign href = '/' | append: currentCollection.label | append: '/' | append: link_slug %}
    {% assign icon_class = category.icon_class %}
    {% assign label= category.name %}
    {% include sidenav-second-lvl-nav.html label=label href=href icon_class=icon_class %}
  {%- endif -%}
{%- endfor -%}