{% assign is_collection = include.is_collection %}
{% if include.disabledItemCount %}
{% assign disabledItemCount = true %}
{% else %}
{% assign disabledItemCount = false %}
{% endif %}
<div class="card-grid-container grid-25rem">
  {% for category in site.data[include.sectionName] %}
    {% assign item_count = category.items | size | minus: 1 %}
    {% if is_collection %}
      {%include card-variant-header-group.html parentCardStyle = "sgds-card-variant-collection-info" 
      contentHeaderStyle = "sgds-card-content-collection-header" category = category 
      img-src = "/assets/img/products/collections-card.svg" img-label = "COLLECTIONS"
      disabledItemCount = disabledItemCount
      %}
    {% else %}
      {% assign name = category.name | downcase | replace:" ","-" %}
      {% assign img-src = '/assets/img/' | append: page.title | downcase | append : '/' | append: name | append: '.svg' %}
      {%include card-variant-no-group.html parentCardStyle = "sgds-card-variant-category-info" 
      category = category img-src = img-src disabledItemCount = disabledItemCount
      %}
    {% endif %}
  {% endfor %}
</div>