<div class="card-grid-container grid-25rem">
  {% for category in site.data[include.sectionName] %}
    {% assign item_count = category.items | size | minus: 1 %}
    {% if include.is_collection %}
      {% assign parentCardStyle = "sgds-card-variant-collection-info" %}
      {% assign contentHeaderStyle = "sgds-card-content-collection-header" %}
      {% assign img_src = "/assets/img/products/collections-card.svg" %}
      {% assign img_label = "COLLECTIONS" %}
      {% include card-variant-header-group.html disableItemCount=include.disableItemCount %}
    {% else %}
      {% assign name = category.name | downcase | replace:" ","-" %}
      {% assign img_src = '/assets/img/' | append: page.title | downcase | append : '/' | append: name | append: '.svg' %}
      {% assign parentCardStyle = "sgds-card-variant-category-info"  %}
      {% include card-variant-basic.html %}
    {% endif %}
  {% endfor %}
</div>
