<div class="card-grid-container grid-25rem">
  {% assign page_collection = page.collection %}
  {% assign page_ids = page.id | split: "/" %}
  {% assign sub_collection = page_ids | shift | shift | first %}
  {% assign sub_collection_level = page_ids.size %}

  {% comment %}
    if page is at /guidelines/project-inception/,
    then collection = guidelines and sub-collection is project-inception
  {% endcomment %}

  {% assign full_collection = site[page_collection] %}
  {% for document in full_collection %}
    {% assign document_ids = document.id | split: "/" %}
    {% assign document_sub_collection = document_ids | shift | shift | first %}
    {% assign document_level = document_ids.size %}

    {% comment %}
      Only render cards at sub collection level
    {% endcomment %}
    {% if document_sub_collection == sub_collection and document_level == sub_collection_level and page.title != document.title  %}

    <div class="sgds-card sgds-card-variant-category-info grid-item">
      <div class="sgds-card-content">
        <header>
          <h4><a href="{{ document.url }}">{{ document.title }}</a></h4>
        </header>
        <p>
          <!-- TODO: [issue] markdownify create blank <p> tag at the top and bottom of description -->
          {{ document.description | markdownify }} <br>
        </p>
      </div>
    </div>

    {% endif %}
  {% endfor %}
</div>