---
title: Products
layout: layout-page-sidenav
redirect_from: 
    - /products/
    - /products/collections
    - /products/categories
---
<p id="collections">Discover projects to leverage on to build the next digital service for Singapore</p>
<a href="/products/all-products" class="sgds-link-icon" style="text-decoration: none;">
    <!-- <img src="/assets/img/products/collections.svg" style="margin: 0px;"/> -->
    <i class="sgds-icon sgds-icon-grid" aria-hidden="true"></i>
    View all products
</a>
<h2>Explore products by collection</h2>
<p>Offerings to help to facilitate the quick and secure building of Government digital services</p>
{% assign sectionName = 'products-collections' %}
{% assign is_collection = true %}
{% include site-section-listing.html %}

<hr></hr>
<h2 id="categories">Explore products by category</h2>
<p>Offerings to help to facilitate the quick and secure building of Government digital services</p>

{% assign sectionName = 'products-categories' %}
{% assign is_collection = false %}
{% include site-section-listing.html %}